.carrusel {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura según tus necesidades */
     /* Transición de opacidad de 3 segundos */
  }
  
  .carrusel img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .ig {
     /* Transición de opacidad de 3 segundos para la clase ig */
     

  }
  .ig:hover{
    transform: scale(1.5);
  }